@use "../../styles/mixins.scss";

.container {
  .newsList {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    justify-content: center;
    gap: 50px 40px;
    @media (max-width: 1170px) {
      grid-template-columns: repeat(2, fit-content(100%));
    }
    @media (max-width: 770px) {
      grid-template-columns: repeat(1, fit-content(100%));
    }
  }
  .viewAllNews {
    text-align: center;
    padding-top: 50px;
    button {
      width: 266px;
      background-color: #ff7c16;
      color: white;
      padding: 20px 0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .noNews {
    @include mixins.center;
    margin: 0 auto;
    padding: 30px 0;
    height: 530px;
  }
}
